
<div class="box">
  <div class="box-header">
    <h1>Sessões</h1>
    <%= link_to 'Nova Sessão', new_session_path, class: "btn btn-info" %>
  </div>
  <div class="box-body  table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="">
        <tr>
          <th>Data</th>
          <th>Inicio</th>
          <th>Fim</th>
          <th>Notas</th>
          <th>Projetos</th>
          <th colspan="4">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @sessions.each do |session| %>
          <tr>
            <td><%= session.date.strftime('%d/%m/%Y') %></td>
            <td><%= session.start_session.to_time.strftime('%H:%M') %></td>
            
            <td><%= session.end_session.to_time.strftime('%H:%M') %></td>
            <td><%= session.note %></td>
            <td><%= session.projects.size %></td>

            
            <td><%= link_to '', session, class: "btn btn-warning fa fa-search" %></td>
            <td><%= link_to '', new_session_councilman_path, class: "btn btn-success fa fa-plus" %>
            <td><%= link_to '', edit_session_path(session), class:"btn btn-info fa fa-edit"%></td>
            <td><%= link_to '', session, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger fa fa-remove"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @sessions %>

  
