<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @session.date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Start session:</strong>
  <%= @session.start_session.strftime('%H:%M') %>
</p>

<p>
  <strong>End session:</strong>
  <%= @session.end_session.strftime('%H:%M') %>
</p>
<p>
  <strong>Projects: </strong>
  <%= link_to @session.projects.size, projects_path %>
</p>

<p>
  <strong>Note:</strong>
  <%= @session.note %>
</p>

<%= link_to 'Editar', edit_session_path(@session), class: "btn btn-warning" %> |
<%= link_to 'Voltar', sessions_path, class: "btn btn-default" %>
