<% breadcrumb :show_meeting, @meeting %>

<div class="box">
  <div class="box-header">
    <p>
  <strong>Date:</strong>
  <%= @meeting.date.strftime('%d/%m/%Y') %>
</p>
  
  </div>

<div class="box-body">
<p>
  <strong>Start session:</strong>
  <%= @meeting.start_session.strftime('%H:%M') %>
</p>

<p>
  <strong>End session:</strong>
  <%= @meeting.end_session.strftime('%H:%M') %>
</p>
<p>
  <strong>Projects: </strong>
  <%= link_to @meeting.projects.size, meeting_projects_path(@meeting) %>
</p>

<p>
  <strong>Note:</strong>
  <%= @meeting.note %>
</p>

<%= link_to 'Editar', edit_meeting_path(@meeting), class: "btn btn-warning" %> |
<%= link_to 'Voltar', meetings_path, class: "btn btn-default" %>
</div>
</div>