<% breadcrumb :show_meeting, @meeting %>

<div class="box">
  <div class="box-header">
    <p>
  <strong>Data:</strong>
  <%= @meeting.date.strftime('%d/%m/%Y') %>
</p>
  
  </div>

<div class="box-body">
<p>
  <strong>Início da sessão:</strong>
  <%= @meeting.start_session.strftime('%H:%M') %>
</p>

<p>
  <strong>Término da sessão:</strong>
  <%= @meeting.end_session.strftime('%H:%M') %>
</p>
<p>
  <strong>Projetos: </strong>
  <%= link_to @meeting.projects.size, meeting_projects_path(@meeting) %>
</p>

<p>
  <strong>Anotações:</strong>
  <%= @meeting.note %>
</p>

<%= link_to 'Editar', edit_meeting_path(@meeting), class: "btn btn-info" %> |
<%= link_to 'Voltar', meetings_path, class: "btn btn-warning" %>
</div>
</div>