
<%= simple_form_for(@session_councilman) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :session, collection: Session.order(:date), prompt: "Escolha a data da sessão" %>
    <%= f.association :councilman, collection: Councilman.order(:name), prompt: "Escolha o vereador" %>
    <%= f.input :being, collection: SessionCouncilman.beings.keys, prompt: "Participou desta sessão?"%>  
    

    <%= f.input :arrival %>
    <%= f.input :leaving %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
