<p id="notice"><%= notice %></p>

<h1>Session Councilmen</h1>

<<table class="table table-striped">>
  <thead>
    <tr>
      <th>Session</th>
      <th>Councilman</th>
      <th>Arrival</th>
      <th>Leaving</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_councilmen.each do |session_councilman| %>
      <tr>
        <td><%= session_councilman.session %></td>
        <td><%= session_councilman.councilman %></td>
        <td><%= session_councilman.arrival %></td>
        <td><%= session_councilman.leaving %></td>
        <td><%= session_councilman.note %></td>
        <td><%= link_to 'Show', session_councilman %></td>
        <td><%= link_to 'Edit', edit_session_councilman_path(session_councilman) %></td>
        <td><%= link_to 'Destroy', session_councilman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session Councilman', new_session_councilman_path %>
