<p id="notice"><%= notice %></p>

<h1>Vereador na Sessão</h1>
<%# <%= link_to 'Incluir Vereador na Sessão', new_session_session_councilmen_path(2), class: "btn btn-info" %> %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sessão</th>
      <th>Vereador</th>
      <th>Chegada</th>
      <th>Partida</th>
      <th>Anotações</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @session_councilmen.each do |session_councilman| %>
      <tr>
        <td><%= session_councilman.session.date.to_time.strftime('%d/%m/%Y') %></td>
        <td><%= session_councilman.councilman.name %></td>
        <td><%= session_councilman.arrival.to_time.strftime('%H:%M') %></td>
        <td><%= session_councilman.leaving.to_time.strftime('%H:%M') %></td>
        <td><%= session_councilman.note %></td>
        <td><%= link_to '', session_councilman, class: "btn btn-info fa fa-search" %></td>
        <td><%= link_to '', edit_session_councilman_path(session_councilman), class: "btn btn-warning fa fa-edit" %></td>
        <td><%= link_to '', session_councilman, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

