<p id="notice"><%= notice %></p>


<div class="box">
  <div class="box-header">
    <h1>Vereadores</h1>
    <%= link_to 'Adicionar Vereador', new_councilman_path, class: "btn btn-info" %>
  </div>
  <div class="box-content">
  <table class="table table-hover table-bordered table-striped">
    <thead >
    <tr>
      <th>Name</th>
      <th>Apelido</th>
      <th>Partido Politico</th>
      <th>Posição Politica</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @councilmen.each do |councilman| %>
      <tr>
        <td><%= t(councilman.name)%></td>
        <td><%= councilman.nickname %></td>
        <td><%= councilman.political_party %></td>
        <td><%= councilman.political_position %></td>
        <td><%= link_to '', councilman, class: "fa fa-search btn btn-info" %></td>
        <td><%= link_to '', edit_councilman_path(councilman), class: "fa fa-edit btn btn-warning" %></td>
        <td><%= link_to '', councilman, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-remove btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

