<div class="box">
  <div class="box-header">
    <p>
      <strong>Name:</strong>
      <%= @councilman.name %>
    </p>
  </div>
  <div class="box-body">
  
<% if @councilman.avatar? %>
  <%= image_tag(@councilman.avatar.big.url) %>
<%else%>
  <%= gravatar_for(@councilman, 200)%><%end%>
<hr />
<p>
  <strong>Nickname:</strong>
  <%= @councilman.nickname %>
</p>

<p>
  <strong>Political party:</strong>
  <%= @councilman.political_party %>
</p>

<p>
  <strong>Political position:</strong>
  <%= @councilman.political_position %>
</p>

<%= link_to 'Edit', edit_councilman_path(@councilman) %> |
<%= link_to 'Back', councilmen_path %>

  </div>
</div>

  
