<div class="box">
  <div class="box-header">
  <p>
    <strong>Name:</strong>
    <%= @councilman.name %>
  </p>
  </div>
</div>

  
<h4>Avatar vários tamanhos</h4>
Thumb:
<% if @councilman.avatar %>
   <%= image_tag(@councilman.avatar.big) %>
<%else%>
  <%= image_tag('fallback/default.png')%>
<%end%>

Medium:
<% if @councilman.avatar %>
   <%= image_tag(@councilman.avatar.big) %>
<%else%>
  <%= image_tag('fallback/default.png')%>
<%end%>

Big:
<% if @councilman.avatar %>
   <%= image_tag(@councilman.avatar.big) %>
<%else%>
  <%= image_tag('fallback/default.png')%>
<%end%>
<hr />
<p>
  <strong>Nickname:</strong>
  <%= @councilman.nickname %>
</p>

<p>
  <strong>Political party:</strong>
  <%= @councilman.political_party %>
</p>

<p>
  <strong>Political position:</strong>
  <%= @councilman.political_position %>
</p>

<%= link_to 'Edit', edit_councilman_path(@councilman) %> |
<%= link_to 'Back', councilmen_path %>
