
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :session, label_method: :formatted_date, value_method: :id, prompt: "Escolha a data da sessão" %>
    <%= f.association :councilman, label_method: :nickname, value_method: :id, prompt: "Escolha o vereador" %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class= "form-group">
      <%= f.association :project_kind, label_method: :kind, value_method: :id, prompt: "Escolha o tipo de projeto" %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
          Novo tipo
      </button>
      <%# <%= link_to 'Novo Tipo de pauta', new_project_kind_path, class: "btn btn-info" %>
    </div>  

    <%= f.input :start_project %>
    <%= f.input :end_project %>
    <%= f.input :result %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <%= render 'modal'%>
<% end %>
