<% breadcrumb :projects %>
<div class="box">
<div class="box-header">
<h1>Projetos</h1>
<div class="row">
      <div class="col-sm-4">
          <%= link_to 'Novo Projeto', new_project_path, class: "btn btn-info" %>
      </div>
      <div class="col-sm-8">
          <%= form_tag( projects_path, method: :get) do %>
              <%= text_field_tag 'search', nil, placeholder:  'Digite o nome do projeto'%>
              <%= submit_tag "Buscar",  class: "fa fa-search btn btn-info" %>
          <% end%>
      </div>
    </div>


</div>


<div class="box-body table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th>Nome</th>
      <th>Descrição</th>
      <th>Proposto pelo Vereador</th>
      <th>Tipo</th>
      <th>Sessão</th>      
      <th>Resultado</th>
      <th colspan="4">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        
        <td><%= link_to project.name, project %></td>
        <td><%= truncate(project.description, length: 50) %></td>
        <td><%= link_to project.councilman.name, project.councilman %></td>
        <td><%= project.project_kind.kind %></td>
        <td><%= project.meeting.date.to_time.strftime('%d/%m/%Y')%></td>
        <% if project.result.nil? %>
        <td>Sem resultado</td>
        <% else %>
        <td><%= I18n.t(project.result, scope: [:activerecord, :attributes, :project, :results]) %></td>
        <% end%>
        <td><%= link_to '', project_votes_path(project), class: "btn btn-success fa fa-plus" %>
        <td><%= link_to '', project, class: "btn btn-info fa fa-search" %></td>
        <td><%= link_to '', edit_project_path(project), class: "btn btn-warning fa fa-edit"  %></td>
        <td><%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-remove"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%= will_paginate @projects %>
