<div class="right">
<% breadcrumb :show_project, @project %>
</div>
<div class="box box-info">
  <div class="container">
    <div class="box-header">


 </div>
<p>
  <strong>Sessão:</strong>
  <%= @project.meeting.date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Tipo do Projeto:</strong>
  <%= @project.project_kind.kind %>
</p>


<p>
  <strong>Resultado:</strong>
  <%= "Sem votos" if @project.result.nil? %>
</p>

<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title"><strong>Votos do Projeto</strong></h3>
              <%= link_to 'Editar Votos', project_votes_path(@project), class: "btn btn-warning btn-sm right" %>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tbody>
                <tr>                  
                  <th>Vereador</th>
                  <th>Voto</th>
                </tr>
                <% @project.votes.each do |v| %>
                
                <tr>
                  <td><%= v.councilman.name %></td>
                  <% unless v.vote.nil? %>
                  <td><%= v.vote %></td>
                  <% else %>            
                  <td>ausente</td>   
                  <% end %>
   
                </tr>
<% end %>
                
              </tbody></table>
            </div>
            <!-- /.box-body -->
            
          </div>



  
  
   
    
<br>

<%= link_to 'Editar', edit_project_path(@project), class: "btn btn-warning" %> |
<%= link_to 'Voltar', :back, class: "btn btn-info" %>
<br><br>
</div>
</div>

