<%# <p id="notice"><%= notice %>

<p>
  <strong>Session:</strong>
  <%= @project.session.date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Project kind:</strong>
  <%= @project.project_kind.kind %>
</p>

<p>
  <strong>Start project:</strong>
  <%= @project.start_project.strftime('%H:%M') %>
</p>

<p>
  <strong>End project:</strong>
  <%= @project.end_project.strftime('%H:%M') %>
</p>

<p>
  <strong>Result:</strong>
  <%= @project.result %>
</p>

<%= link_to 'Editar', edit_project_path(@project), class: "btn btn-warning" %> |
<%= link_to 'Voltar', projects_path, class: "btn btn-info" %>
